<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLG.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
				<key>dateExpires</key>
				<string>4/11/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DGActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GrowingTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ObjcExceptionBridging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PromiseKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TPKeyboardAvoiding.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Windless.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>XCGLogger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A0ECC23E6C9BCDD0F77BEEDE60AA321C2A7F842</string>
						<key>dateExpires</key>
						<string>4/11/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F669JLH2Z2</string>
						<key>name</key>
						<string>Jay arora</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F669JLH2Z2.com.CricketLineGuru.CricketLineGuru</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>F669JLH2Z2</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>CLG.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d78b92fc-1421-4280-9c4e-84e55b505802</string>
				<key>name</key>
				<string>CricketLineGuru_13_jun_17_Dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F669JLH2Z2</string>
				<key>name</key>
				<string>Jay arora</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
